body {
  background-color: black;
  cursor: url("dapao.png"),auto;
}
div#Board {
  position: relative;
  width: 1024px;
  height: 863px;
  margin: auto;
  background: url("board.jpg") no-repeat
}
div#messageArea {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgb(83, 175, 19);
  font-size: 26px;
}
table {
  position: absolute;
  left: 173px;
  top: 100px;
  border-spacing: 0px
}
td {
  width: 94px;
  height: 96px;
  cursor: url("daodan.png"),auto;
}

form {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 15px;
  background-color: rgb(83, 175, 19);
  cursor: pointer;
}
form input {
  background-color: rgb(152,207,113);
  border-color: rgb(83, 175, 19);
  font-size: 1em
}
.hit {
  background: url("ship.png") no-repeat center center;
}
.miss {
  background: url("miss.png") no-repeat center center;
}
span{
  width: 68px;
  height: 58px;
  position: absolute;
  left: 0px;
  top: 400px;
}
p{
  color: rgba(0, 128, 0, 0.438);
}
td:hover{
  background-color: rgba(255, 255, 0, 0.507);
}